{% extends ('base.html.twig')%}
{% block body %}

<div class="container">
<p>SERP titles for {{keyword}} keyword</p>
<ol>
{% for title in titles %}
 <li>{{title}}</li>
{% endfor %}
</ol>
{% for description in descriptions %}
{% if loop.index0 % 2 == 1 or loop.last %}
 <p>Description:<i>{{description}}</i></p>
 {% endif %}
{% endfor %}
{% endblock %}
