{% extends ('base.html.twig')%}
{% block body %}

<div class="container">
<p>SERP titles for {{keyword}} keyword</p>
<ol>
{% for title in titles %}
 <li>{{title}}</li>
{% endfor %}
</ol>
{# {% for description in descriptions %}
 <p>Description:<i>{{description}}</i></p>
{% endfor %} #}
{% endblock %}
