{% extends ('base.html.twig')%}
{% block body %}

<div class="container">
<p>SERP titles for {{keyword}} keyword</p>
<ol>
{% for title in titles %}
 <li>{{title}}</li>
{% endfor %}
</ol>
<ul>
{% for description in descriptions %}
{# {% if loop.index0 % 2 == 1 or loop.last %} #}
 <li>{{description}}</li>
 {# {% endif %} #}
{% endfor %}
</ul>
{% endblock %}
