{% extends ('base.html.twig')%}
{% block body %}
    <div class="container">
<h1>Results page</h1>
<p>Crawling <strong>{{url}}</strong> is finshed</p>
<p><strong>{{titles}}</strong> of your "a" tags has title.</p>
</div>
<ul>
    {% for missingTitle in missingTitles %}
        <li><a href="{{ missingTitle }}">{{ missingTitle }}</a></li>
    {% endfor %}
</ul>
{% endblock %}